.button, .combo-box {
    -fx-background-radius: 0;
}

.text-field, .list-view {
    -fx-background-color: -fx-outer-border, #fff, #fff;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0;
}